body {
    font-family: Arial, sans-serif;
    background-color: #1e1350;
    color: aliceblue;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

#sayac {
    font-size: 5em;
    margin: 0.5em 0;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

button {
  z-index: 1;
  position: relative;
  font-size: 200%;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  transform-origin: center;
  transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #161616;
}

button:hover::before {
  transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
}

#btn-4 {
    display: block;
    margin: 2em auto 0 auto;
}

.btn-5 {
    display: inherit;
    margin: 2em auto 0 auto;
}